	

/* s-o */

* {font-family: 'Lato', sans-serif;color:#565656;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: 'Lato', sans-serif;color:#565656;}
h1 {margin-bottom:20px;margin-top:15px;}
h4, h5, h6 {margin-bottom:10px;}
a{color:#133991}
a:hover{color:#a1ba12;text-decoration: none;}
button,input,textarea{border-radius:0px !important}
ul{list-style:none;padding:0}
.strong{font-weight:900}

.radio, .checkbox{padding-left:0}


header.navbar{background:#fff;border-top:3px solid #2980b9}
header.navbar-inverse{background:#333;border-top:3px solid #2980b9}

header.navbar .navbar-toggle .icon-bar {background-color:#2980b9;}
header.navbar .navbar-toggle:hover, header.navbar-inverse .navbar-toggle:focus {background-color:#eee;}
header.navbar .navbar-collapse, header.navbar-inverse .navbar-form {border:none;}
header.navbar a{font-weight:900;color:#565656}
header.navbar a:hover{color:#2c3e50}
header.navbar .brand-wrapper{position:absolute;padding:7px;border-radius:50%;background:#FFFFFF;z-index:999}



ul.navbar-nav{text-align:center}
.nav > li > a {border-bottom:2px solid transparent}
.nav > li > a:hover,.nav > li.active > a {border-bottom:2px solid #2980B9}
section.intro-banner{background-image:url('../images/bg.jpg');background-repeat:no-repeat;background-position:bottom;width:100%;min-height:715px;padding:100px 0 0;text-align:center;background-color:#fff;position:fixed;z-index:-1;top:0;}
section.intro-banner .container{text-align:left;}
section.intro-banner .container a{padding:15px 40px;font-size:22px;position:absolute;bottom:200px;}

section.latest-shipment{margin-top:650px;background-color:#fff;padding:30px 10px}
section.latest-shipment .latest-wrapper{min-height:500px;}



section.latest-shipment .latest-shipment-box{padding:10px;text-align:left}
section.latest-shipment .latest-shipment-box img{width: 100%;}

section.shipment{background:#ecf0f1;}
section.shipment .container{background:#FFFFFF;min-height:600px;padding-top:90px;}

section.ct-about{background:#2980b9;padding:30px 10px;}
section.ct-about p{color:#ecf0f1}

section.ct-category{background:#fff;padding:30px 10px}

footer{background:#2c3e50;text-align:center;margin:0}
footer p{color:#fff;padding:20px 10px}

section.ct-login{padding-top:200px;min-height:600px;background:#ecf0f1}

section.ct-find{background:#ecf0f1;}
section.ct-find h5{margin:0;margin-bottom:15px;}
section.ct-find .container{background:#FFFFFF;min-height:600px;padding-top:90px;}

section.ct-find-detail{background:#ecf0f1;}
section.ct-find-detail .container{background:#fff;min-height:600px;padding-top:90px;}

section.ct-dashboard{background:#ecf0f1;}
section.ct-dashboard h5{margin:0;margin-bottom:15px;}
section.ct-dashboard .container{background:#FFFFFF;padding-top:90px;padding-bottom: 60px;}
section.ct-dashboard .profile-picture>img{width: 100%;}
section.ct-dashboard .dashboard-tabs{margin-top: 30px;}
section.ct-dashboard .dashboard-tabs .tab-pane{height: 400px;overflow-y: scroll;padding: 20px 0;border: 1px solid #ddd;}
section.ct-dashboard .dashboard-tabs .tab-pane .list-group-item{border-left: none;border-right: none;}
section.ct-dashboard .dashboard-tabs .tab-pane .list-group-item:first-child{border-top: none;}

form fieldset{margin-bottom: 40px;}


nav.page ul {
	text-align: center;
	}
nav.page ul li {
	display: inline;
	margin: 0 4px 0 0;
	}
nav.page ul li a {
	padding: 3px 8px;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #ddd;
background: #fff;
	
	}
nav.page ul li a:hover,
nav.page ul li a:focus {
	background: #f0f0f0;
	border-color: #ccc;
	}
nav.page ul li a:active {
	background: #fff;
	border-color: #ddd;
	}								
	
.rating-f .br-widget {
    height: 24px;
}

.rating-f .br-widget a {
    background: url('../images/star.png');
    width: 24px;
    height: 24px;
    display: block;
    float: left;
}

.rating-f .br-widget a:hover,
.rating-f .br-widget a.br-active,
.rating-f .br-widget a.br-selected {
    background-position: 0 24px;
}
.ct-feedback{padding-top:80px;padding-bottom:80px}

section.ct-base-admin, footer.ct-footer-admin{background:#333}

section.ct-admin-login .container{background:#333;color:#fff}
section.ct-admin-login .container h3{color:#fff}
section.ct-admin-login .container label{color:#fff}


section.ct-admin-request{margin:0 15px;background:#fff;padding-top:60px;min-height:600px}

.profile-item{padding:15px 0}

.maps-wrapper h3{font-weight:bold;font-size:16px;}